In [3]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

raw_temperatura = pd.read_csv('https://datos.gob.cl/uploads/recursos/Temperatura.csv')

In [5]:
raw_temperatura.head()
#El primer vistazo evidencia la necesidad de reestructurar y limpiar los datos.

   180005;"Chacalluta  Arica Ap.";"18&deg 21' 5'' S";63;2015;1;1;"18.7";"23.4"
0  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;2;"20...
1  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;3;"20...
2  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;4;"19...
3  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;5;"19...
4  180005;"Chacalluta   Arica Ap.";"18&deg 21' 5'' S";63;2015;1;6;"19...

In [ ]:
temperatura = pd.read_csv('https://datos.gob.cl/uploads/recursos/Temperatura.csv',
                             sep=';',
                             header=None,
                             #dataset no incluye header
                             )
nombre_columnas = ['id-estacion','nombre-estacion','latitud','longitud','altura','año','mes','dia','temperatura-minima','temperatura-maxima']
#nombre de columnas rescatadas de la documentación del autor del dataset.

In [ ]:
len(temperatura[temperatura.isnull().any(axis=1)])
#85
import numpy as np

In [ ]:
temperatura.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5958 entries, 0 to 5957
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5954 non-null   float64
 1   1       5954 non-null   object
 2   2       5954 non-null   object
 3   3       5954 non-null   float64
 4   4       5954 non-null   float64
 5   5       5954 non-null   float64
 6   6       5954 non-null   float64
 7   7       5934 non-null   float64
 8   8       5893 non-null   float64
dtypes: float64(7), object(2)
memory usage: 419.1+ KB

In [15]:
temperatura.shape

(5958, 9)

In [13]:
temperatura.describe()

,0,3,4,5,6,7,8
count,5954.000000,5954.000000,5954.0,5954.000000,5954.000000,5934.000000,5893.000000
mean,389139.656533,241.577259,2015.0,3.504703,15.592039,8.593714,18.993653
std,136736.557232,400.905899,0.0,1.709568,8.729487,6.228227,7.675573
min,180005.000000,10.000000,2015.0,1.000000,1.000000,-17.600000,-12.000000
25%,330019.000000,48.000000,2015.0,2.000000,8.000000,4.300000,14.200000
50%,370033.000000,113.000000,2015.0,4.000000,16.000000,8.500000,19.800000
75%,450004.000000,306.000000,2015.0,5.000000,23.000000,13.100000,24.300000
max,950001.000000,2293.000000,2015.0,6.000000,31.000000,23.600000,36.800000